@font-face {
  font-family: Netflix;
  src: url(./fonts/GothamLight.ttf);
  src: url(./fonts/Gotham-Light.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NetflixMedium;
  src: url(./fonts/GothamMedium.ttf);
}

@font-face {
  font-family: Benguiant;
  src: url(./fonts/benguib.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  font-family: Netflix, sans-serif;
  text-decoration: none;
}

body {
  background-color: #181818;
}

/* ===== MIXINS ===== */
/* ====== TOP PAGE, LOGO, LINKS, CONFIGS AND PROFILES ====== */
#header {
  width: 95%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-menu a {
  padding: 0.3rem;
}

#menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3rem;
}

.lista-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0.2rem;
  padding-right: 0.7rem;
}

.lista-menu a {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.lista-menu a:hover {
  color: white;
}

#header-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-aside #pesquisa, #header-aside #kids, #header-aside #notifications, #header-aside #nav {
  padding: 0rem 0.2rem;
  padding-right: 0.7rem;
}

#header-aside #pesquisa input, #header-aside #kids input, #header-aside #notifications input, #header-aside #nav input {
  color: #e2e2e2;
  background-color: rgba(0, 0, 0, 0.6);
}

#header-aside #pesquisa img, #header-aside #kids img, #header-aside #notifications img, #header-aside #nav img {
  -webkit-filter: invert(99%) sepia(0%) saturate(3498%) hue-rotate(166deg) brightness(113%) contrast(77%);
          filter: invert(99%) sepia(0%) saturate(3498%) hue-rotate(166deg) brightness(113%) contrast(77%);
  background: none;
}

#header-aside #kids {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#header-aside #kids:hover {
  color: white;
}

#pesquisa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

#nav-menu {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

#nav.activeMenu #nav-menu {
  opacity: 1;
  position: absolute;
  top: 2rem;
  right: 0.85rem;
  padding: 0.6rem;
  padding-right: 2rem;
  margin-top: 0.5rem;
  border: 1px solid #fcfcfc;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav.activeMenu #nav-menu .perfis, #nav.activeMenu #nav-menu .config-lista {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding: 0.5rem 0rem;
}

#nav.activeMenu #nav-menu .perfis:hover, #nav.activeMenu #nav-menu .config-lista:hover {
  cursor: pointer;
  color: #636363;
}

#pesquisa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pesquisa input {
  opacity: 0;
}

#pesquisa.pesquisaActive {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#pesquisa.pesquisaActive input {
  opacity: 1;
  font-size: 0.7rem;
  padding: 0.4rem;
  padding-left: 2.5rem;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  border: 1px solid #e2e2e2;
}

#pesquisa.pesquisaActive img {
  position: absolute;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ===== BACKGROUND, TITLE AND BUTTONS ===== */
#bg-header {
  position: absolute;
  z-index: -1;
}

#bg-header img {
  position: absolute;
  width: 98.8vw;
  height: 115vh;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to top, transparent 3%, black 100%);
          mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, transparent), to(black));
          mask-image: linear-gradient(to top, transparent 3%, black 100%);
}

#bg-header h2 {
  font-family: Benguiant;
  font-size: 3rem;
  position: relative;
  top: 45vh;
  padding-left: 2rem;
  color: #e2e2e2;
}

#bg-header #button-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bg-header #button-info button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50vh;
  font-size: 0.85rem;
  font-family: NetflixMedium;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#bg-header #button-info button:first-child {
  background-color: #e2e2e2;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

#bg-header #button-info button:first-child:hover {
  cursor: pointer;
}

#bg-header #button-info button:first-child i {
  padding: 0rem 0.7rem;
}

#bg-header #button-info button:first-child a {
  text-decoration: none;
  color: #181818;
  font-size: 0.85rem;
  font-family: NetflixMedium;
}

#bg-header #button-info button:first-child:hover {
  background-color: #c9c9c9;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#bg-header #button-info button:last-child {
  background-color: #e2e2e2;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  margin-left: 1rem;
  background-color: rgba(94, 94, 92, 0.55);
  color: #e2e2e2;
}

#bg-header #button-info button:last-child:hover {
  cursor: pointer;
}

#bg-header #button-info button:last-child i {
  padding: 0rem 0.7rem;
}

#bg-header #button-info button:last-child:hover {
  background-color: rgba(68, 68, 67, 0.55);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.description {
  max-width: 650px;
  color: #e2e2e2;
  position: relative;
  top: 46vh;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

/* ===== MODAL INFO SERIE ===== */
#info-serie {
  display: block;
  width: 700px;
  background-color: #181818;
  margin: auto;
  position: relative;
  top: 1rem;
  border-radius: 5px;
  z-index: 3;
}

#info-serie h2 {
  font-family: Benguiant;
  font-size: 2rem;
  position: absolute;
  top: 30vh;
  padding-left: 1rem;
  color: #e2e2e2;
}

#info-serie button {
  background-color: #e2e2e2;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  position: absolute;
  top: 36vh;
  left: -1.5vw;
  padding: 0.45rem 1.5rem 0.5rem 0.7rem;
}

#info-serie button:hover {
  cursor: pointer;
}

#info-serie button i {
  padding: 0rem 0.7rem;
}

#info-serie button a {
  text-decoration: none;
  color: #181818;
  font-size: 0.85rem;
  font-family: NetflixMedium;
}

#info-serie .info {
  background-color: #181818;
  color: #e2e2e2;
  font-size: 0.8rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-bottom: 0.8rem;
}

#info-serie .info-700 {
  font-family: NetflixMedium;
}

#info-serie img {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to top, transparent 3%, black 100%);
          mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(3%, transparent), to(black));
          mask-image: linear-gradient(to top, transparent 3%, black 100%);
  width: 100%;
  border-radius: 5px;
}

.relevante-indicativa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2;
  padding-left: 1rem;
}

.relevante-indicativa p {
  font-size: 0.8rem;
  padding-right: 0.8rem;
}

.relevante-indicativa span {
  margin-right: 0.8rem;
}

.indicativa {
  color: #e2e2e2;
  background-color: #e50914;
  padding: 0.3rem 0.3rem;
  border-radius: 0.1rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.hd {
  color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  padding: 0.1rem 0.25rem;
}

.green {
  color: #3FB75D;
  font-family: NetflixMedium;
}

#sobre-elenco {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1rem;
}

#sobre div {
  display: block;
  width: 300px;
  padding: 0rem 0rem 0.5rem 1rem;
}

#sobre div p, #sobre div i {
  font-size: 0.7rem;
  display: inline;
  padding: 0;
  color: #e2e2e2;
}

#sobre div .title {
  color: rgba(94, 94, 92, 0.55);
}
/*# sourceMappingURL=main.css.map */