$patter-red: #e50914;
$dark-red: #B20710;
$gray-button: rgba(94, 94, 92, 0.550);
$bg-color: #0c0e0b;
$bg-menu-aside: rgba(0, 0, 0, 0.6);
$text-color: #e2e2e2;
$white: #ffffff;

@font-face {
    font-family: Netflix;
    src: url(./fonts/GothamLight.ttf);
    src: url(./fonts/GothamMedium.ttf);
    src: url(./fonts/Gotham-Light.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Benguiant;
    src: url(./fonts/benguib.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    font-family: Netflix, sans-serif;
    text-decoration: none;
}

body {
    background-color: $bg-color;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin space {
    padding: 0rem 0.8rem;
}

@mixin config-button {
    background-color: $text-color;
    
    margin-left: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }

        i {
            padding: 0rem 0.7rem;
        }
}

#bg-header {
    position: absolute;
    z-index: -1;

        img {
            position: absolute;
            width: 98.8vw;
            height: 115vh;
            mask-image: linear-gradient(to top, transparent 3%, black 100%);
        }

        h2 {
            font-family: Benguiant;
            font-size: 3rem;
            position: relative;
            top: 50vh;
            padding-left: 2rem;
            color: $text-color;
        }

        #button-info {
            display: flex;

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                position: relative;
                top: 55vh;
    
                font-size: 0.8rem;
                font-weight: 700;
                
                transition: background-color 0.2s ease-in-out;

    
                &:first-child {
                    @include config-button();
                    &:hover {
                        background-color: darken($text-color, 10);
                        transition: background-color 0.2s ease-in-out;
                     }

                }
    
                &:last-child {
                    @include config-button();
                    margin-left: 1rem;
                    background-color: $gray-button;
                    color: $text-color;
                     &:hover {
                        background-color: darken($gray-button, 10);
                        transition: background-color 0.2s ease-in-out;


                     }

                }
            }
        }

        
}

#header {
    width: 95%;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    @include flex;
    justify-content: space-between;
}

#logo-menu {
    @include flex;

    a {
        padding: 0.3rem;
    }
}

#menu-ul {
    @include flex;
    padding-bottom: 0.3rem;
}

.lista-menu {
    @include flex;
    @include space;

    a {
        font-size: 0.7rem;
        color: $text-color;
        transition: color 0.3s ease;

        &:hover {
            color: lighten($text-color, 30);
        }
    }
    
}

#header-aside {
    @include flex;

    #pesquisa, #kids, #notifications, #nav {
        @include space();

        input {
            color: $text-color;
            background-color: $bg-menu-aside;
        }

        img {
            filter: invert(99%) sepia(0%) saturate(3498%) hue-rotate(166deg) brightness(113%) contrast(77%);
            background: none;
        }
    }

    #kids {
        font-size: 0.7rem;
        color: $text-color;
        transition: color 0.3s ease;

        &:hover {
            color: lighten($text-color, 30);
        }
    }
}

#pesquisa {
    @include flex;
}

#btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

#nav-menu {
    opacity: 0;
    position: absolute;
    background-color: $bg-menu-aside;
}

@mixin profile {
    opacity: 1;
    position: absolute;

    top: 2rem;
    right: 0.85rem;

    padding: 0.6rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
    border: 1px solid lighten($text-color, 10);

    transition: all 0.3s ease;
    
    .perfis, .config-lista {
        font-size: 0.7rem;
        color: $text-color;
        transition: color 0.3s ease;
        padding: 0.5rem 0rem;
    }

    .perfis:hover, .config-lista:hover {
        cursor: pointer;
        color: darken($text-color, 50);
    }
}

#nav.activeMenu {
    #nav-menu {
        @include profile();
    }
    
}

#pesquisa {
    display: flex;
    flex-direction: row-reverse;
    transition: all 0.3s ease;

    input {
        opacity: 0;
    }
}

#pesquisa.pesquisaActive {

    flex-direction: row;
    
    input {
        opacity: 1;

        font-size: 0.7rem;

        padding: 0.4rem;
        padding-left: 2.5rem;

        outline: none;

        transition: all 0.3s ease;

        border: none;
        border: 1px solid $text-color;
    }

    img {
        position: absolute;
        margin-left: 10px;
        transition: all 0.3s ease;
    }
}
