@font-face {
  font-family: Netflix;
  src: url(./fonts/GothamLight.ttf);
  src: url(./fonts/GothamMedium.ttf);
  src: url(./fonts/Gotham-Light.otf);
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  font-family: Netflix, sans-serif;
  text-decoration: none;
}

body {
  background-color: #0c0e0b;
}

#video-header {
  position: absolute;
  z-index: -1;
}

#header {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-menu a {
  padding: 0.3rem;
}

#menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3rem;
}

.lista-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 0.5rem;
}

.lista-menu a {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.lista-menu a:hover {
  color: white;
}

#header-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-aside #pesquisa, #header-aside #kids, #header-aside #notifications, #header-aside #nav {
  padding: 0rem 0.5rem;
}

#header-aside #pesquisa input, #header-aside #kids input, #header-aside #notifications input, #header-aside #nav input {
  color: #e2e2e2;
}

#header-aside #pesquisa img, #header-aside #kids img, #header-aside #notifications img, #header-aside #nav img {
  -webkit-filter: invert(99%) sepia(0%) saturate(3498%) hue-rotate(166deg) brightness(113%) contrast(77%);
          filter: invert(99%) sepia(0%) saturate(3498%) hue-rotate(166deg) brightness(113%) contrast(77%);
  background: none;
}

#header-aside #kids {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#header-aside #kids:hover {
  color: white;
}

#pesquisa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

#nav-menu {
  opacity: 0;
  position: absolute;
  background-color: rgba(12, 14, 11, 0.1);
}

#nav.activeMenu #nav-menu {
  opacity: 1;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.6rem;
  padding-right: 2rem;
  margin-top: 0.5rem;
  border: 1px solid #fcfcfc;
  background-color: rgba(12, 14, 11, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav.activeMenu #nav-menu .perfis, #nav.activeMenu #nav-menu .config-lista {
  font-size: 0.7rem;
  color: #e2e2e2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding: 0.5rem 0rem;
  background-color: rgba(12, 14, 11, 0.1);
}

#nav.activeMenu #nav-menu .perfis:hover, #nav.activeMenu #nav-menu .config-lista:hover {
  cursor: pointer;
  color: #636363;
}

#pesquisa input {
  opacity: 0;
}

#pesquisa.pesquisaActive input {
  opacity: 1;
  font-size: 0.7rem;
  position: absolute;
  right: 10rem;
  padding: 0.4rem;
  padding-left: 2.5rem;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  border: 1px solid #e2e2e2;
}

#pesquisa.pesquisaActive img {
  position: relative;
  right: 11rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*# sourceMappingURL=main.css.map */